.transactionHistory {
  margin: 0 auto;
  background-color: #fff;
  width: 600px;
  font-size: 26px;
  text-align: center;
}

.th {
  background: #3bb2dd;
  color: white;
  padding: 10px 20px;
  width: 150px;
}
.td {
  border: 0 1px 1px 0 solid white;
  background: #d8e6f3;
  font-size: 20px;
  padding: 5px 20px;
}
